In [3]:
import pandas as pd
import numpy as np

In [4]:
def get_data1():

    dataSet = pd.read_csv("pf excel.csv", header=0)
    return dataSet

def get_data2():

    dataSet = pd.read_csv("pf excel2.csv", header=0)
    return dataSet

In [24]:

data1 = get_data1()
data2 = get_data2()
print(data1)
print(data1.columns.tolist())

                   DEPARTAMENTO    PRESUPUESTO          GASTO   Unnamed: 3  \
0                  Contratación             NaN            NaN         NaN
1                   Eq. Reparto     $681,817.84    $286,542.84         NaN
2                      Subtotal     $681,817.84    $286,542.84         NaN
3                           NaN             NaN            NaN         NaN
4                 Arte y Diseño             NaN            NaN         NaN
5           Eq, Caracterización     $330,920.06    $124,239.67         NaN
6              Eq. Escenografía     $839,837.97    $657,934.63         NaN
7                    Eq. Música     $414,950.29    $351,484.28         NaN
8               Eq. Coreografía     $680,475.77    $231,954.70         NaN
9                     Vestuario     $869,255.28    $199,356.44         NaN
10                   Maquillaje     $542,888.94    $312,647.43         NaN
11                      Peinado     $317,821.34    $108,871.82         NaN
12                     Subtotal   $3,996,149.65  $1,986,488.97         NaN
13                          NaN             NaN            NaN         NaN
14                Rec. Técnicos             NaN            NaN         NaN
15  Eq. Elécricos y maquinistas     $465,664.18    $368,173.56         NaN
16              Eq. Iluminación     $252,274.63    $194,479.00         NaN
17            Eq. Sonido Rodaje     $109,819.66     $44,869.37         NaN
18       Eq. Efectos Especiales     $155,297.06     $36,075.39         NaN
19        Eq. Efectos Digitales     $497,418.49    $436,205.33         NaN
20              Eq. Sonido Post     $587,339.87    $566,523.73         NaN
21          Eq Difusión Gráfica     $382,339.69    $131,535.02         NaN
22                     Subtotal   $2,450,153.58  $1,777,861.40         NaN
23                          NaN             NaN            NaN         NaN
24                   Producción             NaN            NaN         NaN
25                   Fotografía     $477,800.32    $411,075.85         NaN
26                Eq. Dirección     $384,647.12    $174,038.16         NaN
27               Eq. Producción     $636,536.90     $68,408.73         NaN
28               Eq. Locaciones     $928,874.45    $105,477.41         NaN
29                 Distribución     $671,609.55    $610,143.01         NaN
30               Eq. Auxiliares     $927,395.53     $81,010.26         NaN
31                     Subtotal   $4,026,863.87  $1,450,153.42         NaN
32                          NaN             NaN            NaN         NaN
33                     Creativo             NaN            NaN         NaN
34       Eq. Guión y adaptación     $375,721.47    $293,029.84         NaN
35                       Editor     $864,296.47    $736,717.77         NaN
36                     Subtotal   $1,240,017.94  $1,029,747.61         NaN
37                          NaN             NaN            NaN         NaN
38                    Logística             NaN            NaN         NaN
39           Ensamble y montaje     $649,375.68    $504,016.49         NaN
40               Eq. Inventario     $679,531.68    $144,538.80         NaN
41                     Utilería     $841,562.56    $675,445.86         NaN
42                     Subtotal   $2,170,469.92  $1,324,001.15         NaN
43                          NaN             NaN            NaN         NaN
44                        Total  $14,565,472.80  $7,854,795.39         NaN
45                          NaN             NaN            NaN         NaN
46                          NaN             NaN            NaN         NaN
47                          NaN             NaN            NaN         NaN

    Unnamed: 4  Unnamed: 5  Unnamed: 6
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2          NaN         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
5          NaN         NaN         NaN
6          NaN         NaN         NaN
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN         NaN         NaN
11         NaN         NaN         NaN
12         NaN         NaN         NaN
13         NaN         NaN         NaN
14         NaN         NaN         NaN
15         NaN         NaN         NaN
16         NaN         NaN         NaN
17         NaN         NaN         NaN
18         NaN         NaN         NaN
19         NaN         NaN         NaN
20         NaN         NaN         NaN
21         NaN         NaN         NaN
22         NaN         NaN         NaN
23         NaN         NaN         NaN
24         NaN         NaN         NaN
25         NaN         NaN         NaN
26         NaN         NaN         NaN
27         NaN         NaN         NaN
28         NaN         NaN         NaN
29         NaN         NaN         NaN
30         NaN         NaN         NaN
31         NaN         NaN         NaN
32         NaN         NaN         NaN
33         NaN         NaN         NaN
34         NaN         NaN         NaN
35         NaN         NaN         NaN
36         NaN         NaN         NaN
37         NaN         NaN         NaN
38         NaN         NaN         NaN
39         NaN         NaN         NaN
40         NaN         NaN         NaN
41         NaN         NaN         NaN
42         NaN         NaN         NaN
43         NaN         NaN         NaN
44         NaN         NaN         NaN
45         NaN         NaN         NaN
46         NaN         NaN         NaN
47         NaN         NaN         NaN
['DEPARTAMENTO', ' PRESUPUESTO ', ' GASTO ', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']

1. Se nos proporciono una base de datos de prueba que contiene el departamento, el presupuesto y gasto. 
Primeramente vamos a relaizar el preprocesamiento de los datos, para empezar vamos a transformar las cantidades que tienen formato de cantidades monetarias para poderlo pasar

In [30]:

data1.columns = data1.columns.str.strip()
data1['PRESUPUESTO'] = data1['PRESUPUESTO'].astype(str)
data1['PRESUPUESTO'] = data1['PRESUPUESTO'].str.replace('$', '', regex=False)
data1['PRESUPUESTO'] = data1['PRESUPUESTO'].str.replace('.', '', regex=False)
data1['PRESUPUESTO'] = data1['PRESUPUESTO'].str.replace(',', '', regex=False)
data1['PRESUPUESTO'] = pd.to_numeric(data1['PRESUPUESTO'], errors='coerce')
data1['GASTO'] = data1['GASTO'].astype(str)
data1['GASTO'] = data1['GASTO'].str.replace('$', '', regex=False)
data1['GASTO'] = data1['GASTO'].str.replace('.', '', regex=False)
data1['GASTO'] = data1['GASTO'].str.replace(',', '', regex=False)
data1['GASTO'] = pd.to_numeric(data1['GASTO'], errors='coerce')
data1 = data1[['DEPARTAMENTO', 'PRESUPUESTO', 'GASTO']]

data1

                   DEPARTAMENTO   PRESUPUESTO         GASTO
0                  Contratación           NaN           NaN
1                   Eq. Reparto  6.818178e+12  2.865428e+10
2                      Subtotal  6.818178e+12  2.865428e+10
3                           NaN           NaN           NaN
4                 Arte y Diseño           NaN           NaN
5           Eq, Caracterización  3.309201e+12  1.242397e+10
6              Eq. Escenografía  8.398380e+12  6.579346e+10
7                    Eq. Música  4.149503e+12  3.514843e+10
8               Eq. Coreografía  6.804758e+12  2.319547e+10
9                     Vestuario  8.692553e+12  1.993564e+10
10                   Maquillaje  5.428889e+12  3.126474e+10
11                      Peinado  3.178213e+12  1.088718e+10
12                     Subtotal  3.996150e+13  1.986489e+11
13                          NaN           NaN           NaN
14                Rec. Técnicos           NaN           NaN
15  Eq. Elécricos y maquinistas  4.656642e+12  3.681736e+10
16              Eq. Iluminación  2.522746e+12  1.944790e+10
17            Eq. Sonido Rodaje  1.098197e+12  4.486937e+09
18       Eq. Efectos Especiales  1.552971e+12  3.607539e+09
19        Eq. Efectos Digitales  4.974185e+12  4.362053e+10
20              Eq. Sonido Post  5.873399e+12  5.665237e+10
21          Eq Difusión Gráfica  3.823397e+12  1.315350e+10
22                     Subtotal  2.450154e+13  1.777861e+11
23                          NaN           NaN           NaN
24                   Producción           NaN           NaN
25                   Fotografía  4.778003e+12  4.110758e+10
26                Eq. Dirección  3.846471e+12  1.740382e+10
27               Eq. Producción  6.365369e+12  6.840873e+09
28               Eq. Locaciones  9.288744e+12  1.054774e+10
29                 Distribución  6.716096e+12  6.101430e+10
30               Eq. Auxiliares  9.273955e+12  8.101026e+09
31                     Subtotal  4.026864e+13  1.450153e+11
32                          NaN           NaN           NaN
33                     Creativo           NaN           NaN
34       Eq. Guión y adaptación  3.757215e+12  2.930298e+10
35                       Editor  8.642965e+12  7.367178e+10
36                     Subtotal  1.240018e+13  1.029748e+11
37                          NaN           NaN           NaN
38                    Logística           NaN           NaN
39           Ensamble y montaje  6.493757e+12  5.040165e+10
40               Eq. Inventario  6.795317e+12  1.445388e+10
41                     Utilería  8.415626e+12  6.754459e+10
42                     Subtotal  2.170470e+13  1.324001e+11
43                          NaN           NaN           NaN
44                        Total  1.456547e+14  7.854795e+11
45                          NaN           NaN           NaN
46                          NaN           NaN           NaN
47                          NaN           NaN           NaN

Realizamos lo mismo pero la segunda hoja del excel

In [39]:
data2.columns = data2.columns.str.strip()
data2['GASTO'] = data2['GASTO'].astype(str)
data2['GASTO'] = data2['GASTO'].str.replace('$', '', regex=False)
data2['GASTO'] = data2['GASTO'].str.replace('.', '', regex=False)
data2['GASTO'] = data2['GASTO'].str.replace(',', '', regex=False)
data2['GASTO'] = pd.to_numeric(data2['GASTO'], errors='coerce')
data2 = data2[['FECHA','DEPARTAMENTO', 'UNIDAD ESP.', 'GASTO']]
data2

       FECHA   DEPARTAMENTO             UNIDAD ESP.         GASTO
0   11/11/24     Producción          Eq. Auxiliares           NaN
1   11/11/24     Producción          Eq. Auxiliares  2.865428e+13
2   16/11/24  Arte y Diseño     Eq, Caracterización  2.865428e+13
3   16/11/24  Arte y Diseño              Eq. Música           NaN
4   20/11/24  Arte y Diseño        Eq. Escenografía           NaN
..       ...            ...                     ...           ...
73  04/04/25       Creativo  Eq. Guión y adaptación           NaN
74  09/04/25     Producción          Eq. Auxiliares           NaN
75  12/04/25  Rec. Técnicos         Eq. Sonido Post           NaN
76  14/04/25  Rec. Técnicos         Eq. Iluminación           NaN
77  16/04/25     Producción            Distribución           NaN

[78 rows x 4 columns]

In [38]:
unidades_unicas = data2['UNIDAD ESP.'].unique()
print(unidades_unicas)
print(len(unidades_unicas))

['Eq. Auxiliares' 'Eq, Caracterización' 'Eq. Música' 'Eq. Escenografía'
 'Eq Difusión Gráfica' 'Fotografía' 'Vestuario' 'Distribución'
 'Eq. Guión y adaptación' 'Eq. Coreografía' 'Eq. Efectos Digitales'
 'Eq. Elécricos y maquinistas' 'Eq. Reparto' 'Peinado' 'Eq. Dirección'
 'Maquillaje' 'Eq. Iluminación' 'Eq. Locaciones' 'Editor'
 'Ensamble y montaje' 'Eq. Inventario' 'Eq. Efectos Especiales'
 'Eq. Producción' 'Eq. Sonido Post' 'Utilería' 'Eq. Sonido Rodaje']
26